<?xml version="1.0" encoding="UTF-8"?>
<settings>
   <about>Lydversjonen av Aftenposten er tilgjengelig fra mandag til fredag, både på CD, som nedlastbar fil eller gjennom streaming. Lydversjonen av Aftenposten er basert på utdrag fra en database, og har derfor ikke samme innhold og struktur som originalutgaven av avisen. Avisen har nå 20 hovedkategorier. Disse er: meninger, innenriks, utenriks, kultur, sport, sportresultater, fakta, si-d, kongelige, miljø, økonomi, oslo, nett og it, dyr, vær, mat og vin, helse, forbruker, a-magasinet og natur og vitenskap. Vær oppmerksom på at hovedkategorier enkelte dager kan være utelatt fra lydversjonen av avisen. Dette forekommer på dager der det ikke finnes noen artikler som tilhører den aktuelle hovedkategorien. Kontakt oss, fortrinnsvis på: lydavis@nlb.no dersom du har spørsmål om lydavisen.</about>
   <uniqueNamesPath></uniqueNamesPath>
   <installDirectory></installDirectory>
</settings>