<?xml version="1.0" encoding="UTF-8"?>
<settings>
   <about>Aftenposten og E24 </about>
   <uniqueNamesPath>file:/F:/NetBeansProjects/Transformer2/uniqueNames/</uniqueNamesPath>
   <settingsPath>F:\NetBeansProjects\Transformer2/xml/settings.xml</settingsPath>
   <installDirectory>F:\NetBeansProjects\Transformer2</installDirectory>
</settings>